<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Idea16</servlet-name>
		<servlet-class>id.ea.Idea16Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Idea16</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TripStepServlet</servlet-name>
		<servlet-class>id.ea.TripStepServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TripStepServlet</servlet-name>
		<url-pattern>/tripstep</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImageProxyServlet</servlet-name>
		<servlet-class>id.ea.ImageProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageProxyServlet</servlet-name>
		<url-pattern>/img</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>id.ea.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/add</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
